
@{
    Layout = null;
}
@model MVCUIDesigning.Models.Student

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStudentST</title>
</head>
<body>
    <div>
        @{Html.RenderPartial("_header"); }
        @using (Html.BeginForm())
        {

            @Html.LabelFor(S => S.Sid);
            @Html.TextBoxFor(s => s.Sid);<br>
            @Html.LabelFor(S => S.Name);
            @Html.TextBoxFor(s => s.Name);<br>
            @Html.LabelFor(S => S.Class);
            List<int> li = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9 };
            SelectList items = new SelectList(li);
            @Html.DropDownListFor(S => S.Class, items, "-Select Class-") <br />
            @Html.LabelFor(S => S.Gender);
            @Html.RadioButtonFor(S => S.Gender, "Male")@:Male
            @Html.RadioButtonFor(S => S.Gender, "Female")@:Female <br />
            @Html.LabelFor(S => S.Fees); <br />
            @Html.TextBoxFor(S => S.Fees); <br />
            @Html.LabelFor(S => S.Address); <br />
            @Html.TextAreaFor(S => S.Address, 3, 21, new { });
            <br /><br />
            <input type="submit" value="Save" />
            <input type="reset" value="Reset" />

        }
    </div>
</body>
</html>
